<div>
  <h1><%= @task.title%></h1>
  <p><%= @task.details%></p>
</div>

<%= link_to "Back to list", "/tasks" %>
<%= link_to "Edit", "/tasks/#{@task.id}/edit" %>
<%= link_to "Edit", edit_task_path(@task) %>
